<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h2>Change your password</h2>

              <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <%= f.hidden_field :reset_password_token %>

              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>

              <%= f.password_field :password_confirmation, autocomplete: "off" %>

              <div class="actions">
                <%= f.submit "Change my password", class:"btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"  %>
              </div>
              <% end %>

              <div class="text-center"><%= render "devise/shared/links" %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>