<header class="jumbotron text-center py-8 mb-4"
  style="background-image: url(<%= @random_image %>);background-size: auto;">
  <div class="container">
    <h1 class="font-weight-light text-white">Movies</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <% @movies.each do |movie| %>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card mb-4 box-shadow">
        <%= image_tag movie.poster_url, class: "card-img-top", alt: "...", style:"height: 350px;" %>
        <div class="card-body">
          <p class="card-text"><%=  movie.name_with_certificate %></p>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">
              Duration: <%= movie.duration %><br />
              Release Date: <%= movie.release_dates %>
            </small>
            <div class="btn-group">
              <a href="/shows/<%= movie.id %>" class="btn btn-sm btn-outline-primary">Book</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>